.tree {
    height: 100%;
    min-height: 100%;
}

.tree__circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.tree__circle_selected {
  stroke: green;
  stroke-width: 10px;
  stroke-dasharray: 10px 5px;
}

.tree__text {
  font: 12px sans-serif;
  user-select: none;
}
.tree__text:selection {
  background-color: none;
}

.tree__link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
